body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(120deg,  #c7060f, #1f1f1f, #141414);
    color: white;
}

.encabezado {
    display: flex;
    flex-wrap: wrap;
    background: black;
    text-align: center;
    padding: 35px;
    border-bottom: 3px solid #e50914;
}

.logo span {
    color: #e50914;
}

.menu {
    display: flex;
    justify-content: end;
    gap: 60px;
    width: 1200px;
    padding-right: 50px;
    margin-top: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
    padding-bottom: 3px;
}

.menu a:hover {
    color: red;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: red;
    transition: width 0.3s;
}

.menu a:hover::after {
    width: 100%;
}

.menu a.activo {
    color: red;
}

.main {
    padding: 20px;
    margin: auto;
    text-align: center;
}

.titulo-fav {
    margin-bottom: 25px;
    font-size: 1.8rem;
}

.mensaje-vacio {
    margin-top: 30px;
    font-size: 1.2rem;
    color: #f0efef;
}

.tarjetas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
}

.tarjeta {
    background: #222;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #333;
    box-shadow: 0 2px 8px black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(229, 9, 20, 0.6);
    border-color: #e50914;
}

.tarjeta img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.tarjeta h3 {
    margin: 10px 0;
}

.boton-eliminar {
    background-color: #333;
    margin-top: 10px;
}

.boton-eliminar:hover {
    background-color: #e50914;
}
